* {
  box-sizing: border-box;
  user-select: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

header {
  text-align: center;
}

.my-name {
  position: relative;
}

.world {
  overflow: hidden;
  position: relative;
  border: 20px solid white;
  height: 600px;
  width: 600px;
  padding: 0;
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  margin: auto;
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: black;
  border: 20px solid white;
}

.character {
  width: 10%;
  position: absolute;
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
}
.character.animate {
  animation: jump 800ms;
}

.soda {
  --left: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  width: 10%;
  height: 20%;
  bottom: 0;
}
/*
.block {
  width: 60px;
  height: 156px;
  position: relative;
  top: 325px;
  left: 500px;
  animation: block 800ms infinite linear;
  background-image: url("assets/Soda.png");
  background-repeat: no-repeat;
  background-size: contain;
}*/
.score {
  left: 1vmin;
  top: 1vmin;
  position: absolute;
  color: white;
  font-size: 6vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.white-text {
  color: white;
}

.hide {
  display: none;
}

@keyframes block {
  0% {
    left: 500px;
  }
  100% {
    left: -180px;
  }
}
@keyframes jump {
  0% {
    top: 500px;
  }
  33% {
    top: 300px;
  }
  66% {
    top: 300px;
  }
  100% {
    top: 500px;
  }
}
