* {
  box-sizing: border-box;
  user-select: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}
.game {
  margin: auto;
  position: relative;
  width: 600px;
  height: 600px;
  background-color: black;
  border: 60px solid white;
}

.character {
  width: 64px;
  height: 60px;
  /*position: relative;
  top: 404px;

  background-image: url("assets/player-character.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.character.animate {
  animation: jump 700ms;*/
}

/*.block {
  width: 60px;
  height: 156px;
  position: relative;
  top: 284px;
  left: 480px;
  animation: block 800ms infinite linear;
  background-image: url("assets/bone-block.png");
  background-repeat: no-repeat;
  background-size: contain;
}*/

.score {
  left: 1vmin;
  top: 1vmin;
  position: absolute;
  color: white;
  font-size: 6vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.white-text {
  color: white;
}

.hide {
  display: none;
}

/*@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -110px;
  }
}*/
@keyframes jump {
  0% {
    top: 404px;
  }
  33% {
    top: 250px;
  }
  66% {
    top: 250px;
  }
  100% {
    top: 404px;
  }
}
